# Configuration du jeu

GAME_NAME = DunE

# PATH
PATH_DATA = ./data/
PATH_EXPORT_ZIPPED_RAPPORT = ./rapports/
PATH_TOUR = ./data/commun/tour.txt
PATH_STATS = ./data/stats/

RACINE_SITE = http://localhost:666/

#IRC
IRC_MAIN_CHANNEL = #sheril

# SSH
SSH_PORT = 22
SSH_BASE_PATH = user@host:/vhosts/

# DATABASE
DATABASE_HOST = db:3306
DATABASE_LOGIN = user
DATABASE_PASSWORD = password
DATABASE_NAME = sheril

# SMTP
MAIL_SMTP_HOST = smtp-relay.brevo.com
MAIL_SMTP_PORT = 587
MAIL_SMTP_TTLS = true
MAIL_SMTP_AUTH = true
MAIL_SMTP_LOGIN = ton_adresse_email_brevo@domaine.co
MAIL_SMTP_PASSWORD = ta_cle_smtp_generee_sur_brevo
SMTP_ENVOI = "smtp-relay.brevo.com"
ADRESSE_MJ = mj@pbem-france.net

# URL
NOTIFY_BOT = false
FAKE_TURN = true
SEND_MAIL = false

# LOCAL
IS_LOCAL = true