@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}

:root {
  --accent: #9c27b0;
  --information: #00e6e6;
  --important: #83bfb0;
}

.race-koro {
  font-weight: bold;
  color: #da1e01;
}

.race-cyborg {
  font-weight: bold;
  color: #777777;
}

.race-hargon {
  font-weight: bold;
  color: #750cff;
}

.race-atalante {
  font-weight: bold;
  color: #0a9bcc;
}

.race-yoksor {
  font-weight: bold;
  color: #07b85f;
}

.race-zwaia {
  font-weight: bold;
  color: #FFCC00;
}

.race-fergok {
  font-weight: bold;
  color: #f78912;
}

.race-wyti {
  font-weight: bold;
  color: #d00ca2;
}

section {
  margin-bottom: 20px;
  margin-top: 20px;
  clear: both;
}

blockquote {
  padding: 20px;
  border-left: 5px solid #003061;
}
blockquote footer {
  border: none;
  font-style: italic;
  box-shadow: none;
}

* {
  box-sizing: border-box;
}

dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px 20px;
}
dl dt {
  font-weight: bold;
  grid-column: 1;
}
dl dd {
  grid-column: 2;
  margin: 0;
}

a {
  font-size: 1em;
  color: #8BC7FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body, html {
  background: #001021;
  color: #dedede;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--information);
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--accent);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #003061;
  color: var(--important);
}

img.float {
  margin: 10px;
  float: right;
  width: 20%;
  min-width: 200px;
  border: 1px solid #555;
  border-radius: 10px;
}
img.float.left {
  float: left;
}

h1, h2, h3, h4 {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  padding-bottom: 10px;
  text-transform: lowercase;
}
h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter {
  text-transform: uppercase;
}

p {
  padding-left: 10px;
  margin-bottom: 20px;
}

ul {
  margin-bottom: 10px;
}
ul li {
  margin-left: 30px;
  list-style-type: square;
  padding: 5px;
}

.container, body #main, main, header, footer, nav {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  background: #0a0a0a;
}

main, header, footer, nav {
  box-shadow: 0px 1px 4px #003963;
}

header {
  min-height: 100px;
  background-image: url("../img/header.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: black;
  padding: 10px;
  font-size: 2rem;
}
header small {
  display: block;
  margin-top: 10px;
  font-size: 0.5em;
}

body > nav > a {
  display: inline-block;
  padding: 10px;
  margin: 0;
}
body > nav > a:hover {
  background-color: #202020;
}
body #main {
  height: calc(100vh - 170px);
  background-color: transparent;
  display: flex;
}
body #main > nav {
  overflow-y: auto;
  padding: 10px;
  flex: 1 1 auto;
  max-width: 200px;
}
body #main > nav > a {
  display: block;
  padding: 5px 10px;
}
body #main > main {
  padding: 10px;
  flex: 1 1 auto;
  max-width: calc(100% - 180px);
  max-height: calc(100vh - 170px);
  overflow-y: auto;
}

#index {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.race0 {
  color: #CC00FF;
}

.race1 {
  color: #0066CC;
}

.race2 {
  color: #FFCC00;
}

.race3 {
  color: #CC0033;
}

.race4 {
  color: #009933;
}

.race5 {
  color: #777777;
}

.avatar {
  width: 200px;
  height: 200px;
  background-image: url("/assets/img/avatar/spriteC1.png");
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 8px;
}
.avatar.race0 {
  background-position: 0px 0px;
}
.avatar.race1 {
  background-position: -200px 0px;
}
.avatar.race2 {
  background-position: -400px 0px;
}
.avatar.race3 {
  background-position: -600px 0px;
}
.avatar.race4 {
  background-position: -800px 0px;
}
.avatar.race5 {
  background-position: -1000px 0px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

#editor {
  height: 300px;
  background-color: #001021;
  color: #FFF;
}

.ql-toolbar {
  background-color: #eee;
}

.preview-box {
  border: 1px solid #444;
  padding: 20px;
  background-color: #1a1a1a;
  margin-top: 20px;
  display: none;
}

.btn-preview {
  background-color: #6c757d;
}

[name=title] {
  line-height: 2em;
  background-color: #001021;
  color: #FFF;
}

.post-container {
  border: 1px solid #444;
  margin-bottom: 20px;
  display: flex;
}
.post-container .post-header {
  background-color: #333;
  padding: 10px;
  border-bottom: 1px solid #444;
  display: flex;
  flex-direction: column;
  flex: 0 0 150px;
}
.post-container .post-body {
  padding: 20px;
  background-color: #001021;
  min-height: 100px;
  flex: 1;
}
.post-container .post-author {
  font-weight: bold;
}
.post-container .post-date {
  font-size: 0.8em;
  color: #aaa;
}

.breadcrumb {
  margin-bottom: 20px;
}

.ql-editor {
  font-size: 16px;
  min-height: 150px;
}

.ql-toolbar {
  background-color: #eee;
}

table.stylized {
  width: 100%;
  border-radius: 2px;
  border: 1px solid var(--important);
  padding: 4px;
  background: #10001d;
  box-shadow: 12px 12px 15px rgba(131, 191, 176, 0.3);
  font-size: 14px;
}
table.stylized:hover {
  box-shadow: 0px 1px 10px 12px rgba(0, 255, 191, 0.3);
}
table.stylized tr {
  position: relative;
}
table.stylized tr td, table.stylized tr th {
  border-top: 1px solid #222;
  border-right: 1px solid #999;
  border-bottom-width: 0;
  border-left-width: 0;
}
table.stylized tr td:last-child, table.stylized tr th:last-child {
  border-right: none;
}
table.stylized th {
  padding: 3px;
  position: sticky;
  top: 0px;
  background: black;
  z-index: 1000;
  font-weight: bold;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  color: var(--accent);
}
table.stylized th[data-sort-order=asc] a::after {
  content: " ▲";
}
table.stylized th[data-sort-order=desc] a::after {
  content: " ▼";
}
table.stylized td, table.stylized th {
  padding: 3px;
  font-family: verdana, arial, sans-serif;
}

.statistiques th a {
  white-space: nowrap;
  color: var(--accent);
}
.statistiques td {
  white-space: nowrap;
}
.statistiques td.score {
  text-align: right;
  border-right: none;
}

.plus {
  color: #2bd849;
}

.moins {
  color: #fb5757;
}

table.forum-table td:nth-child(1) {
  width: 60%;
}
table.forum-table td:nth-child(2) {
  width: 20%;
}

@media screen and (max-width: 768px) {
  #index {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  body #main {
    flex-direction: column;
  }
  body #main nav {
    max-width: 100%;
    margin: 5px;
  }
  body #main main {
    max-width: 100%;
    margin: 5px;
  }
  body #main main img {
    display: block;
    float: none;
    width: calc(100% - 10px);
  }
  body #main main section {
    clear: both;
  }
  body #main .post-container {
    flex-direction: column;
  }
  body #main .post-container .post-header {
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }
  body #main .post-container .post-header .avatar {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
